{% extends 'base.html' %}
{% block content %}

<!-- Header -->
<header class="w3-container w3-light-gray w3-center" style="padding:128px 16px">
    <h1 class="w3-margin w3-jumbo">Project</h1>
    <h2 class="w3-margin w3-jumbo">Smart Recruiting Map</h2>
    <p class="w3-xlarge">blank</p>
</header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
    <div class="w3-content">
        <div class="w3-twothird">
            <ul class="w3-ul">
                <li class="w3-hover-red"><h1>Page discription</h1></li>
                <li class="w3-hover-red">
                    <h5 >1.Mountain Map</h5>
                    <p> We show mountain</p>
                </li>
                <li class="w3-hover-red">
                    <h5 >2.Recruiting Map</h5>
                    <p >We show map</p>
                </li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}