{% extends 'base.html' %}
{% block content %}

    <div class="container p-3 my-3 border">
            <h1>Job map in Jobkorea</h1><br>
            <h5>We show Recruiting Map for jobseeker</h5>
            <form action="", method="get">
                <table>
                    <thead>
                        <tr>    
                            <td>current keyword: {{keyword}}</td>
                            <td>max page: {{max_page}}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <div class="input-group mb-3">
                            <td><input type="text" class="form-control" placeholder="job keyword", name="key"></td>
                            <td><input type="text" class="form-control" placeholder="max page", name="max_page"></td>
                            <td><input type="submit" class="btn btn-dark", value="Submit"></td>
                            </div>
                        </tr>

                    </tbody>
                </table>
            </form>
            <tr><p></p></tr>
            <table>
                <tr>
                    <td><button type="button" class="btn btn-outline-primary"><a href="{% url 'job:job_map_search' %}">Basic Map</a></button></td>
                    <td><button type="button" class="btn btn-outline-info"><a href="{% url 'job:job_map_search_cluster' %}">Clustering Map</a></button></td>
                    <td><button type="button" class="btn btn-outline-danger"><a href="{% url 'job:job_map_search_heat' %}">Heat Map</a></button></td>
                </tr>
            </table>
    </div>
    <div class="container">
        <div class="row">
            <!-- <div class="col-8"> -->
            <div class="col">
                {{mountain_map|safe}}
            </div>
        </div>
    </div>




{% endblock %}