{% extends 'base.html' %}
{% block content %}

    <div class="container p-3 my-3 border">
            <h1>Job map in Jobkorea</h1><br>
            <h5>We show Recruiting Map for jobseeker</h5>
            <form action="", method="get">
                <table>
                    <thead>
                        <tr>    
                            <td>search keyword</td>
                            <td>max page of scrapping</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="text", name="key"></td>
                            <td><input type="text", name="max_page"></td>
                            <td><input type="submit", value="Submit"></td>
                        </tr>
                    </tbody>
                </table>
            </form>
    </div>
    <div class="container">
        <div class="row">
            <!-- <div class="col-8"> -->
            <div class="col">
                {{mountain_map|safe}}
            </div>
        </div>
    </div>




{% endblock %}