{% extends 'base.html' %}
{% block content %}

<div class="container p-3 my-3 border">
        <h1>Mountain map in Korea</h1><br>
        <h5>We show famous mountains in Korea</h5>
</div>
<div class="container" style="margin-bottom: 1cm;">
    <div class="row">
        <!-- <div class="col-8"> -->
        <div class="col">
            {{mountain_map|safe}}
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col ">
            <div class="container">
                <table class="table table-striped table-hover">
                    <colgroup>
                        <col width="25%"/>
                        <col width="25">
                        <col width="25%"/>
                        <col width="25%"/>
                    </colgroup>
                    <thead class="thead-dark">
                        <tr>
                            <th>산이름</th>
                            <th>지역</th>
                            <th>높이</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="example-table-1">
                        {% for row in page_obj %}
                        <tr name="link" value="{{row.no}}">
                            <td class="align-middle">{{row.name}}</td>
                            <td class="align-middle">{{row.area}}</td>
                            <td class="align-middle">{{row.height}}</td>
                            <td class="align-middle"><img src="{{row.img}}" alt="{{row.name}}"  height="128"></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% include "paginator.html" %}
        </div>
    </div>
</div>
<script>
    // 테이블의 행을 눌러서 실행
    $("#example-table-1 tr").click(function(){ 	
        var str = ""
        var tdArr = new Array();	// 배열 선언
        var tr = $(this);
        var td = tr.children();
        td.each(function(i){
            tdArr.push(td.eq(i).text());
        });
        location.href="/mountain/mountain_map/info/" + tr[0].getAttribute('value');
    });
</script>
{% endblock %}