{% extends 'base.html' %}
{% block content %}

<div class='container jumbotron border'>
    <table>
        <colgroup>
            <col width="40%">
            <col width="5%">
            <col width="*%">
        </colgroup>
        <tr>
            <td>
                <div>
                    <img class="img-fluid" src={{mountain.0.img}}>
                </div>
            </td>
            <td></td>
            <td>
                <div class=''> 
                    <div class="container">
                    <h2>
                        {{mountain.0.name}}
                    </h2>
                    <p>
                        {% if mountain.0.info == None %}        
                        {% else %}
                            <li>{{mountain.0.info}}</li>
                        {% endif %}
                    </p>
                    <li>GPS 좌표 : {{mountain.0.x}} <span> | </span> {{mountain.0.y}}</li>
                    <li>주소 : {{mountaininfo.0.address_name}}</li>
                </div>
                </div>           
            </td>            
        </tr>
    </table>
    <div class="container"><a href="{% url 'mountain:mountain_map' %}" class='btn btn-dark float-right' role="button">목록</a></div>
    
</div>
<div class="container">
    <div class="row">
        <!-- <div class="col-8"> -->
        <div class="col">
            <div class="container">
                {{mountain_map|safe}}
            </div>
        </div>
    </div>
</div>

{% endblock %}